@charset 'UTF-8';

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
dl,
ol,
dd,
form,
figure {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a[href]:active {
  background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05));
  background-image: linear-gradient(to top, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05));
}

body[style*='tap-highlight'] a[href]:active {
  background-image: none;
}

em {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select {
  font-size: 100%;
}

input,
textarea,
select {
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* iPhone6的375px尺寸作为16px基准，600px正好18px大小 */
  font-size: calc(100% + 2 * (100vw - 375px) / 225);
}

@media screen and (min-width: 600px) {
  html {
    /* 600px-1000px每100像素宽字体增加1px(18px-22px) */
    font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
  }
}

@media screen and (min-width: 1000px) {
  html {
    /* 1000px往后是每100像素0.5px增加 */
    font-size: calc(137.5% + 5 * (100vw - 1000px) / 1000);
  }
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-user-select: none;
  color: #33373d;
  fill: currentColor;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

/* 公用的布局，小模块页面样式 */

body {
  background-color: #f6f7f9;
}

html,
body,
.page,
.aside,
.aside-overlay,
.guide-overlay {
  height: 100%;
}

.page,
.aside,
.aside-overlay,
.guide-overlay,
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.content {
  -webkit-overflow-scrolling: touch;
}

.module {
  margin: .75rem 0;
  background-color: #fff;
}

.header {
  position: relative;
  box-sizing: border-box;
  height: 2.75rem;
  padding-top: .6875rem;
  padding-bottom: .625rem;
  border-bottom: 1px solid #f0f1f2;
  background-color: #fff;
}

.header-index {
  border-bottom: none;
  background-color: transparent;
}

.logo-a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5.625rem;
  padding: 0 1rem;
}

.logo {
  font-size: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  width: inherit;
  height: 1.125rem;
  margin: auto;
  color: transparent;
  background: url("/qdm/img/logo-qdm.svg");
  background-size: 100%;
}

.header-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: .625rem .8125rem .625rem .875rem;
}

.header-back .header-back-title {
  margin-left: .6875rem;
}

.header-back + .header-back-title {
  line-height: 1.375rem;
  position: absolute;
  left: 2.6875rem;
}

.header-operate {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: .25rem .375rem;
}

.header-operate > .icon {
  float: left;
  overflow: hidden;
  width: 2.25rem;
  height: 2.25rem;
}

.header-operate svg {
  display: block;
  margin: .625rem auto;
}

a.icon-more:empty {
  position: relative;
}

a.icon-more:empty::before,
a.icon-more:empty::after {
  position: absolute;
  left: 50%;
  width: 1.125rem;
  margin-left: -.5625rem;
  content: '';
  -webkit-transition: all .15;
  transition: transform .15s;
  border-top: 1px solid;
  border-radius: 1px;
}

a.icon-more:empty::before {
  top: .75rem;
  box-shadow: 0 .3125rem;
}

a.icon-more:empty::after {
  bottom: .8125rem;
}

a.icon-more.active::before {
  transform: translateY(.3125rem) rotate(45deg);
  box-shadow: none;
}

.icon-more.active::after {
  transform: translateY(-.3125rem) rotate(-45deg);
}

.module-header {
  height: 1.75rem;
  padding: 0 1rem;
  border-top: 1rem solid transparent;
}

.module-header::after {
  display: table;
  clear: both;
  content: '';
}

.module-header-l {
  float: left;
}

.module-header-r {
  position: relative;
  float: right;
}

.module-title {
  font-family: 'FZZCYSK';
  font-weight: normal;
  display: inline;
  color: #33373d;
}

.module-title::before {
  display: inline-block;
  box-sizing: border-box;
  width: .625rem;
  height: 1em;
  content: '';
  vertical-align: -.22ex;
  color: transparent;
  border-left: 2px solid #ed424b;
}

.module-title-desc {
  font-size: .8125rem;
  margin-left: .5rem;
  color: #969ba3;
}

.module-header-btn {
  font-size: .875rem;
  line-height: 1.5rem;
  position: absolute;
  top: -.5rem;
  right: -.75rem;
  padding: .5rem .5rem .5rem .75rem;
  white-space: nowrap;
  color: #969ba3;
}

.module-header-btn .icon-arrow-r {
  margin-left: .25rem;
}

.module-header-btn .icon-refresh {
  margin-right: .25rem;
}

.module-filter-header {
  position: relative;
  padding: .6875rem 1rem;
}

.module-filter-icon {
  position: absolute;
  top: .4rem;
  right: 1rem;
  color: #ed424b;
}

.module-filter-icon > svg {
  font-size: 20px;
  display: block;
}

.module-filter-icon > h3 {
  font: 400 12px/1 a;
  transform: scale(.8333);
  transform-origin: left top;
}

.module-tab {
  margin: .4375rem 1rem;
}

.module-tab ~ .module-tab::before {
  position: relative;
  top: -.4375rem;
  display: block;
  padding-top: .6875rem;
  content: '';
  border-top: 1px solid #f0f1f2;
}

.module-bar {
  font-size: .8125rem;
  line-height: 2.75rem;
  text-align: center;
  color: #969ba3;
  background-color: #f6f7f9;
}

.book-layout {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 1rem;
}

.book-layout mark {
  color: #ed424b;
  background-color: transparent;
}

.book-layout > .icon-arrow-r {
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  margin: auto;
  color: #969ba3;
}

.book-li::after {
  display: block;
  margin-top: -1px;
  margin-left: 1rem;
  content: '';
  border-bottom: 1px solid #f0f1f2;
}

.book-li:last-child::after {
  display: none;
}

.book-title-x {
  overflow: hidden;
}

.book-ol + .book-title-x {
  padding: .625rem 1rem;
}

.book-title {
  line-height: 1.4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-cover {
  float: left;
  width: 4.125rem;
  height: 5.5rem;
  margin-right: .5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.book-cell {
  overflow: hidden;
}

.book-desc {
  font-size: .8125rem;
  line-height: 1.125rem;
  overflow: hidden;
  margin: .375rem 0;
  color: #969ba3;
}

.book-desc:last-child {
  margin-right: 5rem;
}

.book-ol-normal .book-desc,
.book-ol-time .book-desc {
  display: -webkit-box;
  height: 2.25rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.book-ol-author .book-desc {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-meta {
  font-size: .75rem;
  overflow: hidden;
}

.book-meta-l {
  float: left;
}

.book-meta-l:only-child {
  float: none;
}

.book-meta-r {
  position: relative;
  float: right;
}

.book-author {
  display: block;
  overflow: hidden;
  max-width: 10em;
  max-width: calc(100vw - 2rem - (176rem / 16));
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #969ba3;
}

.book-author .icon-human {
  margin-right: .1875rem;
}

.book-author-vv {
  position: relative;
  float: left;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.book-author-vv em[class*='tag-honor'] {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.book-author-avatar {
  display: block;
  width: 100%;
  height: 100%;
}

.book-author-data {
  font-size: .875rem;
  position: relative;
  bottom: -.25rem;
  color: #ed424b;
}

.book-meta-r .tag-small-group {
  position: absolute;
  top: -.375rem;
  right: 0;
  white-space: nowrap;
}

.book-ol-rank {
  padding-left: 3.125rem;
  counter-reset: bookrank;
}

.book-ol-rank .book-li {
  position: relative;
}

.book-ol-rank .book-li::before {
  font: bold 1em/1.5em 'DIN Alternate';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2.125rem;
  height: 1.5em;
  margin: auto;
  content: counter(bookrank) '.';
  counter-increment: bookrank;
}

.book-ol-rank .book-li::after {
  margin-left: 0;
}

.book-ol-rank .book-layout {
  margin-left: -2.125rem;
  padding-left: 2.125rem;
}

.book-title-r {
  font-size: .8125rem;
  line-height: 1.5rem;
  float: right;
  margin-left: .5rem;
  color: #969ba3;
}

.book-title-r .icon-arrow-r {
  position: relative;
  right: -.125rem;
}

.book-ol-rank .book-desc {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-tags {
  font-size: .8125rem;
  margin: .125rem 0;
  color: #969ba3;
}

.book-tags > dot::before {
  content: '·';
}

.book-tags + .book-desc {
  margin: .125rem 0 .3125rem;
}

.book-toplist {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 33.33%;
}

.book-toplist-cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-toplist + .book-ol {
  overflow: hidden;
  margin-left: 33.33%;
  padding-left: 2.125rem;
}

.book-toplist + .book-ol .book-layout {
  display: -webkit-flex;
  display: flex;
  padding: .375rem 1rem .375rem 2.375rem;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.book-toplist + .book-ol .book-author {
  overflow: visible;
  margin-left: 5px;
}

.book-toplist + .book-ol .book-li::before {
  left: -1.125rem;
}

.book-toplist + .book-ol .book-li::after {
  display: none;
}

.book-toplist-title {
  font: normal 1.75rem/1.375rem KUHEI;
  position: absolute;
  right: 0;
  bottom: 6rem;
  left: 0;
  text-align: center;
  color: #fff;
}

.book-toplist .icon-point-r {
  position: absolute;
  right: 0;
  bottom: 2rem;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  text-align: center;
  border-radius: 24px;
  background-color: #fff;
}

.book-toplist .icon-point-r > svg {
  position: absolute;
  top: .4375rem;
  left: .4375rem;
  width: .625rem;
  height: .625rem;
}

.book-progress {
  font-size: .8125rem;
  float: left;
  overflow: hidden;
  width: 7.75rem;
  width: calc(100% - (92rem / 16));
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-ol-progress .book-meta {
  font-size: .8125rem;
  color: #969ba3;
}

.book-li-more {
  font-size: .8125rem;
  line-height: 2.75rem;
  display: block;
  text-align: center;
  color: #969ba3;
}

.book-li-more[href] {
  color: #4284ed;
}

.book-ol ~ .book-li-more::before {
  display: block;
  margin-top: -1px;
  margin-left: 1rem;
  content: '';
  border-top: 1px solid #f0f1f2;
}

.book-ol-time {
  position: relative;
}

.book-ol-time::before {
  position: absolute;
  top: 1.5rem;
  bottom: 1rem;
  left: .5rem;
  content: '';
  border-right: 1px solid #f0f1f2;
}

.book-time {
  font-size: .75rem;
  line-height: 1.5rem;
  position: relative;
  display: block;
  padding: .75rem 1rem 0;
  color: #969ba3;
}

.book-time::before {
  position: absolute;
  bottom: .70rem;
  left: 6px;
  left: calc(.5rem - 2px);
  width: 5px;
  height: 5px;
  content: '';
  border-radius: 15px;
  background-color: #ed424b;
}

.book-time + .book-layout {
  padding-top: .375rem;
}

.module-slide-ol {
  position: relative;
  display: none;
  overflow: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.module-slide-ol:only-child,
.module-slide-ol.active {
  display: block;
}

.module-slide-li {
  display: inline-block;
  -webkit-transform: translateX(.5rem);
  transform: translateX(.5rem);
  vertical-align: top;
  white-space: normal;
}

.module-slide-a {
  display: block;
  width: 4.125rem;
  padding: .75rem .5rem .5rem;
}

.module-slide-img {
  display: block;
  width: inherit;
  height: 5.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.module-slide-caption {
  font-size: .8125rem;
  line-height: 1.0625rem;
  overflow: hidden;
  max-height: 2.125rem;
  margin: .5rem 0 .25rem;
}

.module-slide-author {
  font-size: .75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #969ba3;
}

.module-merge {
  margin: 0;
}

.module-merge .book-li:last-child::after {
  display: block;
}

.module-field {
  overflow: hidden;
  padding: .5rem;
}

.module-field-cell {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: .5rem;
}

.module-field-img {
  display: block;
  width: 100%;
  height: calc(66rem / 16);
  object-fit: cover;
}

.module-toplist {
  position: relative;
  overflow: hidden;
}

.module-history .module-header {
  text-align: center;
}

.module-history .module-title::before {
  display: none;
}

.module-footer {
  padding: 1rem;
  text-align: center;
}

.module-footer-txt {
  font-size: .75rem;
  margin: .375rem 0 0;
  color: #969ba3;
}

.aside .module-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.aside .module-footer .btn-primary:only-child {
  margin-bottom: .75rem;
}

.aside .module-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.aside .module-history {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.aside .module-main {
  position: absolute;
  top: 2.75rem;
  right: 0;
  bottom: 5.75rem;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.footer {
  background-color: #fff;
}

.footer-backtop {
  display: table;
  width: 100%;
}

.footer-backtop-cell {
  font-size: .875rem;
  line-height: 3.4375rem;
  display: table-cell;
  padding: 0 1rem;
  border-bottom: 1px solid #f0f1f2;
}

.footer-backtop-cell:last-child {
  padding-left: 0;
  text-align: right;
}

.footer-backtop-cell .icon-backtop {
  margin-right: .25rem;
}

.footer-backtop-a {
  position: relative;
  padding: 1rem 0;
}

.footer-link {
  font-size: .875rem;
  display: -webkit-box;
  display: box;
  padding: .5625rem 1.1875rem 0;
  text-align: center;
  color: #969ba3;
}

.footer-link-a {
  display: block;
  padding: .5rem 0;
  -webkit-box-flex: 1;
  box-flex: 1;
}

.footer-copy {
  font-size: .75rem;
  font-weight: 300;
  padding-top: .25rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #969ba3;
}

.footer-copy::first-letter {
  text-transform: uppercase;
}

/* 侧边栏 */

.aside {
  z-index: 3;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: visibility .25s;
  transition: visibility .25s;
}

.aside.active {
  visibility: visible;
}

.aside-overlay,
.guide-overlay {
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
  opacity: 0;
  background-color: #000;
}

.active > .aside-overlay,
.active > .guide-overlay {
  opacity: .6;
}

.aside-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 2.5rem;
  -webkit-transition: transform .15s;
  transition: transform .15s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  background-color: #fff;
}

.active > .aside-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.guide {
  position: absolute;
  z-index: 3;
  top: 2.5rem;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  transition: visibility .25s;
  -wekit-transition: visibility .25s;
}

.guide.active {
  visibility: visible;
}

.guide-content {
  position: relative;
  overflow: hidden;
  padding: 0 1rem;
  transition: transform .15s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: #fff;
  -wekit-transition: -webkit-transform .15s;
}

.active > .guide-content {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.guide-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.guide-nav-a {
  font-size: .75rem;
  position: relative;
  display: block;
  width: 3.5rem;
  height: 3.625rem;
  text-align: center;
}

.guide-nav-a > .icon {
  position: absolute;
  right: 0;
  bottom: 1.625rem;
  left: 0;
  margin: auto;
}

.guide-nav-h {
  position: absolute;
  right: 0;
  bottom: .1875rem;
  left: 0;
}

.guide-nav .guide-nav-a {
  margin: .75rem 1.5rem;
}

.guide-footer {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* 公用的UI组件样式 */

/* 2. 按钮 */

.btn-primary,
.btn-primary-small {
  font-family: Consolas, Monaco, monospace;
  font-size: .875rem;
  line-height: 2.25rem;
  display: inline-block;
  padding-right: 2ch;
  padding-left: 2ch;
  text-align: center;
  color: #fff;
  border-radius: 99px;
  background-color: #ed424b;
}

.btn-primary-small {
  line-height: 1.625rem;
}

.btn-primary-circle {
  font-size: .75rem;
  line-height: 1.16667;
  display: inline-block;
  box-sizing: border-box;
  width: 2.75rem;
  height: 2.75rem;
  padding: .5rem;
  text-align: center;
  color: #fff;
  border-radius: 99px;
  background-color: #ed424b;
}

.btn-line,
.btn-line-gray,
.btn-line-gray ~ i:empty,
.btn-tag {
  font-size: .8125rem;
  line-height: 1.6875rem;
  display: inline-block;
  padding: 0 .625rem;
  text-align: center;
  border: 1px solid;
  border-radius: 99px;
}

.btn-line,
.btn-line-gray.active,
.btn-line-gray ~ i.active:empty,
.btn-tag.active {
  color: #ed424b;
}

.btn-line-gray,
.btn-line-gray ~ i:empty,
.btn-tag {
  color: #969ba3;
}

.btn-tag {
  line-height: 1.25rem;
  padding: 0 .625rem;
  border-color: transparent;
}

.btn-tag.active {
  border-color: #ed424b;
}

.btn-line-gray ~ i:empty,
.btn-line-gray ~ i:empty ~ i:empty {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  vertical-align: top;
  border-width: 0 1px;
}

@media screen and (max-width: 320px) {
  .btn-line-gray,
  .btn-line-gray ~ i:empty {
    padding: 0 .5rem;
  }
}

.btn-tab {
  font-size: .8125rem;
  line-height: 1.6875rem;
  display: block;
  padding: 0 .625rem;
  text-align: center;
  color: #ed424b;
  border: 1px solid #ed424b;
}

.btn-tab.active {
  color: #fff;
  background-color: #ed424b;
}

.btn-normal-red,
.btn-normal-blue,
.btn-normal-white {
  font-size: .8125rem;
  line-height: 1.875rem;
  display: inline-block;
  padding: 0 1rem;
  text-align: center;
  border-radius: .125rem;
}

.btn-normal-red {
  color: #fff;
  background-color: #ed424b;
}

.btn-normal-blue {
  color: #fff;
  background-color: #4284ed;
}

.btn-normal-white {
  color: #33373d;
  background-color: #fff;
  box-shadow: inset 1px 0 #e3e4e6, inset 0 1px #e3e4e6, inset 0 -1px #e3e4e6, inset -1px 0 #e3e4e6;
}

.btn-group {
  display: table;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  table-layout: fixed;
}

.btn-group-cell {
  font-size: 100%;
  font-weight: 400;
  display: table-cell;
}

.btn-group .btn-line {
  display: block;
  margin: 0 .5625rem;
}

.btn-group-cell:first-child > .btn-line {
  margin-left: 0;
}

.btn-group-cell:last-child > .btn-line {
  margin-right: 0;
}

.btn-group-cell + .btn-group-cell > .btn-tab {
  border-left: 0;
}

.btn-group-cell:first-child > .btn-tab {
  border-radius: 4px 0 0 4px;
}

.btn-group-cell:last-child > .btn-tab {
  border-radius: 0 4px 4px 0;
}

.btn-group-small {
  width: auto;
}

.btn-group-small .btn-tab {
  line-height: 1.25rem;
}

.btn-group-cell > [class*='btn-normal-'] {
  width: calc(100% - .6667rem);
  margin-left: .3333rem;
  padding: 0;
}

.btn-group-cell:first-child > [class*='btn-normal-'] {
  margin-left: 0;
}

.btn-group-cell:last-child > [class*='btn-normal-'] {
  margin-left: .6667rem;
}

.tag-small {
  font-size: 1.25rem;
  line-height: 1.5;
  display: inline-block;
  margin: 0 .15em;
  padding: 0 .25em;
  -webkit-transform: scale(1);
  transform: scale(1);
  vertical-align: bottom;
}

.tag-small::before {
  position: absolute;
  z-index: -1;
  top: -1px;
  right: 0;
  bottom: 1px;
  left: 0;
  content: '';
  opacity: .5;
  border: 1px solid;
  border-radius: .11111em;
}

.tag-small:first-child {
  margin-left: 0;
}

.tag-small:last-child {
  margin-right: 0;
}

.tag-green,
.tag-red,
.tag-orange,
.tag-gray,
.tag-purple {
  position: absolute;
  margin-top: -3px;
  margin-top: calc((1.5rem - 1.5em) * .5);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  color: #fff;
  border-radius: 2px;
}

.tag-green::before,
.tag-red::before,
.tag-orange::before,
.tag-gray::before,
.tag-purple::before {
  border-color: transparent;
}

.tag-green {
  background-color: #7ed321;
}

.tag-red {
  background-color: #ed424b;
}

.tag-orange {
  background-color: #f0643a;
}

.tag-gray {
  background-color: #969ba3;
}

.tag-purple {
  background-color: #a091ff;
}

.tag-small-group,
:not(.tag-small-group) > .tag-small {
  -webkit-transform: scale(.5);
  transform: scale(.5);
}

.origin-right,
.origin-right .tag-small {
  -webkit-transform-origin: right center;
  transform-origin: right center;
}

.origin-left,
.origin-left .tag-small {
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.tag-small-group {
  display: inline-block;
}

.tag-honor-purple,
.tag-honor-red {
  font-family: 'youyuan', 'pingfang sc';
  font-size: .75rem;
  line-height: 14px;
  line-height: calc(1rem - 2px);
  display: inline-block;
  box-sizing: border-box;
  width: 2.5rem;
  height: 1rem;
  text-align: center;
  color: #fff;
  border: 1px solid;
  border-radius: 40px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 50%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 50%);
}

.tag-honor-purple {
  background-color: #a091ff;
}

.tag-honor-red {
  background-color: #ed424b;
}

.tag-hot {
  font-size: .75rem;
  font-weight: 300;
  line-height: 1.2rem;
  position: absolute;
  z-index: 0;
  right: 0;
  height: 1.2rem;
  padding: 0 .6rem 0 .3rem;
  transform: scale(.83333);
  transform-origin: right top;
  color: #fff;
  background-color: #ed424b;
  -webkit-font-smoothing: antialiased;
  -wekit-transform-origin: right top;
  -wekit-transform: scale(.83333);
}

.tag-hot::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  content: '';
  transform: skewX(45deg);
  transform-origin: left bottom;
  background-color: inherit;
  -wekit-transform-origin: left bottom;
  -wekit-transform: skewX(45deg);
}

.star-group,
.star-score {
  background: 0 center repeat-x;
  background-size: 18px 13px;
}

.star-group {
  display: inline-block;
  overflow: hidden;
  width: 86px;
  height: 13px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxOCAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC44ODEgMy4yMjZjLjIyLjQzNi42NDguNzM4IDEuMTQxLjgwOGwzLjMyMi40N2EuNTI4LjUyOCAwIDAgMSAuMzAzLjkwNmwtMi40MDQgMi4yOGMtLjM1Ny4zNC0uNTIuODI4LS40MzYgMS4zMDdsLjU2NyAzLjIyYy4wNzcuNDM1LS4zOTEuNzY2LS43OTIuNTYxbC0yLjk3LTEuNTJhMS41NTMgMS41NTMgMCAwIDAtMS40MTIgMGwtMi45NyAxLjUyYy0uNC4yMDUtLjg2OS0uMTI2LS43OTItLjU2bC41NjctMy4yMkExLjQ1MiAxLjQ1MiAwIDAgMCAyLjU3IDcuNjlMLjE2NSA1LjQxYS41MjguNTI4IDAgMCAxIC4zMDMtLjkwNmwzLjMyMS0uNDdjLjQ5NC0uMDcuOTIxLS4zNzIgMS4xNDItLjgwOEw2LjQxNy4yOTZhLjU1My41NTMgMCAwIDEgLjk3OCAwbDEuNDg2IDIuOTN6IiBmaWxsPSJyZ2JhKDAsMCwwLC4yKSIvPjwvc3ZnPg==");
}

.star-score {
  font-size: 12px;
  display: block;
  height: inherit;
  color: transparent;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxOCAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC44ODEgMy4yMjZjLjIyLjQzNi42NDguNzM4IDEuMTQxLjgwOGwzLjMyMi40N2EuNTI4LjUyOCAwIDAgMSAuMzAzLjkwNmwtMi40MDQgMi4yOGMtLjM1Ny4zNC0uNTIuODI4LS40MzYgMS4zMDdsLjU2NyAzLjIyYy4wNzcuNDM1LS4zOTEuNzY2LS43OTIuNTYxbC0yLjk3LTEuNTJhMS41NTMgMS41NTMgMCAwIDAtMS40MTIgMGwtMi45NyAxLjUyYy0uNC4yMDUtLjg2OS0uMTI2LS43OTItLjU2bC41NjctMy4yMkExLjQ1MiAxLjQ1MiAwIDAgMCAyLjU3IDcuNjlMLjE2NSA1LjQxYS41MjguNTI4IDAgMCAxIC4zMDMtLjkwNmwzLjMyMS0uNDdjLjQ5NC0uMDcuOTIxLS4zNzIgMS4xNDItLjgwOEw2LjQxNy4yOTZhLjU1My41NTMgMCAwIDEgLjk3OCAwbDEuNDg2IDIuOTN6IiBmaWxsPSIjRjBDNTNBIi8+PC9zdmc+");
}

.star-score[data-score='0'],
.star-score[data-score='0.0'] {
  width: 0;
}

.star-score[data-score='0.5'],
.star-score[data-score='.5'] {
  width: 7px;
}

.star-score[data-score='1'],
.star-score[data-score='1.0'] {
  width: 14px;
}

.star-score[data-score='1.5'] {
  width: 25px;
}

.star-score[data-score='2'],
.star-score[data-score='2.0'] {
  width: 32px;
}

.star-score[data-score='2.5'] {
  width: 43px;
}

.star-score[data-score='3'],
.star-score[data-score='3.0'] {
  width: 50px;
}

.star-score[data-score='3.5'] {
  width: 61px;
}

.star-score[data-score='4'],
.star-score[data-score='4.0'] {
  width: 68px;
}

.star-score[data-score='4.5'] {
  width: 79px;
}

[data-size] {
  box-sizing: border-box;
}

[data-size=''] {
  display: block;
}

[data-size='1'] {
  width: 1.25rem;
}

[data-size='2'] {
  width: 2.5rem;
}

[data-size='3'] {
  width: 3.75rem;
}

[data-size='4'] {
  width: 5rem;
}

[data-size='5'] {
  width: 6.25rem;
}

[data-size='6'] {
  width: 7.5rem;
}

[data-size='7'] {
  width: 8.75rem;
}

[data-size='8'] {
  width: 10rem;
}

[data-size='9'] {
  width: 11.25rem;
}

[data-size='10'] {
  width: 12.5rem;
}

[data-size='11'] {
  width: 13.75rem;
}

[data-size='12'] {
  width: 15rem;
}

[data-size='13'] {
  width: 16.25rem;
}

[data-size='14'] {
  width: 17.5rem;
}

/* 文字颜色 */

.dark {
  color: #33373d;
}

.gray {
  color: #969ba3;
}

.blue {
  color: #4284ed;
}

.red {
  color: #ed424b;
}

.white {
  color: #fff;
}

.in,
.out {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.in {
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.out {
  -webkit-animation-duration: 225ms;
  animation-duration: 225ms;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

/* animation - fade */

.fade.out {
  -webkit-animation-name: fadeout;
  animation-name: fadeout;
  -webkit-animation-duration: 125ms;
  animation-duration: 125ms;
  opacity: 0;
}

.fade.in {
  -webkit-animation-name: fadein;
  animation-name: fadein;
  -webkit-animation-duration: 225ms;
  animation-duration: 225ms;
  opacity: 1;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* animation - slide */

.slide.out,
.slide.in {
  -webkit-animation-duration: 225ms;
  animation-duration: 225ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.slide.in {
  -webkit-animation-name: slideinfromright;
  animation-name: slideinfromright;
}

.slide.out {
  -webkit-animation-name: slideouttoleft;
  animation-name: slideouttoleft;
}

.slide.reverse.out {
  -webkit-animation-name: slideouttoright;
  animation-name: slideouttoright;
}

.slide.reverse.in {
  -webkit-animation-name: slideinfromleft;
  animation-name: slideinfromleft;
}

/* keyframes for slidein from sides */

@-webkit-keyframes slideinfromright {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideinfromright {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideinfromleft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideinfromleft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* keyframes for slideout to sides */

@-webkit-keyframes slideouttoleft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideouttoleft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slideouttoright {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideouttoright {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

/* chrysanthemum loading effect */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

svg.icon,
.icon > svg {
  width: 1em;
  height: 1em;
  vertical-align: -.25ex;
  fill: currentColor;
}

.clip {
  position: absolute;
  clip: rect(0 0 0 0);
}

.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 分类入口页面的一些样式 */

.page-toplist .module-toplist {
  margin-top: 0;
}

.page-toplist .module-toplist ~ .footer {
  margin-top: -.75rem;
  padding-top: .75rem;
}

.toplist-tag-x {
  overflow: hidden;
}

.toplist-tag {
  margin-left: 1rem;
}

.toplist-tag + .toplist-tag {
  border-top: 1px solid #f0f1f2;
}

.toplist-tag .btn-tag {
  margin: .5625rem 0;
}

.toplist-fixed-bar {
  font-size: .8125rem;
  line-height: 2.75rem;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  visibility: hidden;
  text-align: center;
  opacity: 0;
  border-bottom: 1px solid #f0f1f2;
  background-color: #fff;
}

.toplist-fixed-bar .icon-arrow-r {
  font-size: 12px;
  margin-left: .25rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #c0c5cc;
}